.bgvideo {
    width: 100%;
    height: 70vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.bgvideo > * {
    pointer-events: auto;
}

.bgvideo video{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

.video-text {
    color: aquamarine;
    z-index: 2;
    font-size: 150px;
    position: relative;
}

.mask {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.322);
    pointer-events: none;
}