{% extends "base.html" %}

{% block title %}Pricing{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid mt-4">
            <div class="row">

                <div class="col-lg-1">

                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <a href="#"><img src="{{ url_for('static', filename='images/laptop.png') }}" class="card-img-top" alt="Laptop"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Laptops</a></h5>
                                    <p class="card-text"><a href="#">
                                            Some quick example text to build on the card title and make up
                                            the bulk
                                            of the card's content.
                                        </a></p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/gaming pc.png') }}" class="card-img-top" alt="Gaming PC">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Gaming PC</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/vr.png') }}" class="card-img-top" alt="VR">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">VR</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/acc.png') }}" class="card-img-top" alt="Accessories">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Acc</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/controller.png') }}" class="card-img-top" alt="Controller">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Controller</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/cpu.png') }}" class="card-img-top" alt="CPU">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Cpu</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/gpu.png') }}" class="card-img-top" alt="GPU">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Gpu</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/other.png') }}" class="card-img-top" alt="Other">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Other</a></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center mt-4">
                            <p>Can we help you?</p>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <img class="call-anim" style="width: 40px;" src="{{ url_for('static', filename='files/phone.png') }}" alt="Phone">
                        </div>


                    </div>

                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="row px-4">
                        <div class="col-lg-12 sidebar my-4">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, dicta ullam laudantium
                                enim soluta illum blanditiis corporis odit magni sit? Neque molestiae perspiciatis animi
                                id voluptatum! <a href="#">Lern more>>></a></p>
                        </div>
                        <div class="col-lg-12 sidebar my-4">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, dicta ullam laudantium
                                enim soluta illum blanditiiseque molestiae perspiciatis animi
                                id voluptatum! <a href="#">Lern more>>></a></p>
                        </div>
                        <div class="col-lg-12 sidebar my-4">
                            <p>sectetur, adipisicing elit. Eos, dicta ullam laudantium
                                enim soluta illum blanditiis corporis odit magni sit? Neque molestiae perspiciatis animi
                                id voluptatum! <a href="#">Lern more>>></a></p>
                        </div>
                        <div class="col-lg-12 sidebar my-4">
                            <p>Lorem ipsum dolor rporis odit magni sit? Neque molestiae perspiciatis animi
                                id voluptatum! <a href="#">Lern more>>></a></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>
{% endblock %}

